.main-head {
	margin-top: 3%;
}

.main-logo-border {
	width: 155px;
	height: 55px;
	border: 3px solid #706b73;
	text-align: center;
	line-height: 49px;
}

.main-logo-border p{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #706b73;
} 

.main-logo-border p:first-letter {
	color: #fa9a87;
}

.main-nav {
	text-align: right;
}

.main-nav-bar {
	margin-top: 18px;
	display: inline-block;
}


.main-nav-bar span{
	display: block;
	height: 4px;
	border-radius: 5px;
	width: 35px;
	margin: 3px auto;
	background-color: #706b73;
}
